{% extends 'blades/html.njk' %}

{% if not site.prod %}
  {% set site = site | attr_set('styles', site.styles | join('|') | replace('https://cdn.jsdelivr.net/npm/@anyblades/blades@2/css', '') | split('|')) %}
{% endif %}

{% set content_for_header %}
  <meta name="generator" content="{{ site.generator }}">
  <style>
    /* Global custom styles go below */
    body > nav { padding-block-start: 1rem; justify-content: center }
    body > footer { padding-block-end: 2rem; text-align: center; font-size: medium }
  </style>
{% endset %}

{% block body %}
  <nav>{{ collections.all | eleventyNavigation | eleventyNavigationToHtml | safe }}</nav>
  <main class="container breakout-all">
    {% if title %}<h1>{{ title }}</h1>{% endif %}
    {% if description %}<p><big>{{ description }}</big></p>{% endif %}
    {{ content | safe }}
  </main>
  <footer><hr>{{ site.footer | safe }} © {{ site.year }}</footer>
{% endblock %}
